@import "../../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "../stylesheets/toast";
@import "../stylesheets/about";

$gray-200-color:  #eee;
$gray-400-color:  #bdbdbd;
$gray-300-color:  #e0e0e0;
$gray-700-color:  #616161;
$gray-800-color:  #424242;

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  flex: 1;
  display: flex;
}

.buffer-top {
  margin-top: 10px;
}

.logo {
  color: $gray-200-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  text-decoration: none;

  &:hover {
    color: $gray-300-color;
  }
}

.container_general {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;

}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  bottom: 0;
  width: 100%;
  a {
    color: $gray-400-color;

    &:hover {
      color: $gray-700-color;
    }
  }
}

a {
  text-decoration: none;
}
