<div class="about-container">
  <div class="about-info">
    <span class="about-title">О Digital Portfolio</span>
    <p class="mt-4">
      Мы верим в силу индивидуальности и таланта каждого человека. Наша цель - создать цифровое пространство, где
      каждый может выразить свои уникальные способности и достижения. Digital Portfolio - это не просто платформа для
      поиска работы или специалистов, это место, где ваши успехи становятся видимыми и вдохновляют других.
    </p>
    <p class="mt-4">
      Мы стремимся сделать процесс поиска работы и найма персонала максимально простым, прозрачным и эффективным.
      Мы убеждены, что каждый заслуживает возможности представить свой талант и найти свое место в мире IT.
    </p>
    <p class="mt-4">
      Digital Portfolio - это не просто платформа, это сообщество людей, объединенных стремлением к развитию и
      достижению новых высот в своей карьере. Мы поддерживаем разнообразие, инновации и коллективное развитие.
      Присоединяйтесь к нам и давайте вместе создавать будущее IT-индустрии
    </p>
  </div>
  
  <div class="about-title-second">
    <span>Кто создает Digital Portfolio?</span>
  </div>
  
  <div class="about-teams">
    <% @users.each do %>
        <%= render 'about_user_card', user: _1 %>
    <% end %>
  </div>
</div>
