<div class="container_general">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar justo vel sapien congue, eget tempor velit
    malesuada. Proin nec sapien vel lorem sollicitudin dignissim. Donec tincidunt velit at leo posuere, at lobortis est
    fermentum. Fusce finibus massa quis ante rutrum, at viverra odio posuere. Nullam sed nulla vitae tortor placerat
    consequat. Curabitur eu felis a magna vestibulum convallis. Nulla facilisi. Cras sit amet arcu sit amet justo
    vehicula viverra.</p>
  <p>Nulla vestibulum eros id nibh commodo, a volutpat ex ultricies. Integer fermentum nisi et libero laoreet, nec
    fermentum ligula hendrerit. Duis efficitur diam id ligula fringilla, ac commodo sapien dapibus. Nulla facilisi.
    Morbi posuere ante eu quam dignissim vehicula. Pellentesque sit amet enim nec neque fermentum condimentum. Duis sit
    amet felis quis velit tempus tempor.</p>
  <p>Etiam vitae consectetur turpis. Donec eu eros sit amet magna dignissim accumsan. Cras suscipit est nec est
    scelerisque, eget tincidunt nisl cursus. Integer et gravida magna. Mauris ut arcu id libero eleifend mattis.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi.</p>
</div>
