<div class="About_Page">
  <!--Секция описания-->
  <main class="About_Description">
    <h1>О сайте Digital Portfolio</h1>
    <p> Сайт "диджитал портфолио" - это онлайн-платформа, специализирующаяся на подборе персонала и поиске работы для
      программистов.
      На сайте вы можете создать профиль, загрузить свое портфолио, указать свои навыки и опыт работы. Работодатели
      могут просматривать профили кандидатов, а также публиковать вакансии.
      Благодаря удобному интерфейсу и широкому функционалу сайта, он станет вашим надежным помощником в поиске работы
      или подборе персонала в сфере IT. </p>
  </main>
  <!--Конец описания-->
  <!------------------------->
  <!--Секция участников команды-->
  <section class="Members">
    <h1>Кто сделал Digital Portfolio</h1>
    <!--Участник-->
    <div class="member">
      <img src="" alt="photo">
      <h3>Красилов Константин</h3>
      <p>Ну лучше что бы ты сам о себе рассказал)</p>
      <div class="Social">
        <a title="Habr" href="about.html.erb"><img src="\\wsl$\Ubuntu\home\notikke\digital_portfolio\app\views\img\Habr.png" alt="Habr"></a>
        <a title="Telegram" href="about.html.erb"><img src="Картиночка с телегой" alt="Telegram"></a>
        <a title="HH" href="about.html.erb"><img src="Картиночка с хед хантером" alt="HeadHunter"></a>
      </div>
    </div>
      <!--Участник-->
  </section>
  <!--Конец секции участников команды-->
</div>
