<style>
    .general {
        min-height: 200px;
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
    }

    .awards {
        width: 50%;
        display: flex;
        max-width: 400px;
        gap: 20px;
    }

    .award-title {
        color: #00796B;
        font-weight: bold;
    }

    .award-description {
        line-height: 18px;
        font-size: 14px;
    }

    .award-link {
        color: #B0BEC5; /* Цвет текста */
        font-weight: bold; /* Жирный текст */
        transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
    }

    .award-link:hover {
        color: #78909C; /* Цвет текста при наведении */
    }

    .header-12 {
        border-bottom: 1px solid #BDBDBD;
        padding-bottom: 10px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
        
    .element {
        opacity: 0; /* Начальное состояние - элементы невидимы */
        transition: opacity 0.3s ease; /* Анимация изменения прозрачности */
    }

    .awards:hover .element {
        opacity: 1; /* Появление элементов при наведении */
    }
</style>

<div class="header-12">
  <h4 class="left">Сертификаты и награды</h4>
  <%#= render 'award_form', award: Award.new %>
  <button type="button" class="btn btn-outline-secondary right awards-modal" data-portfolio-id="<%= @portfolio.id %>">
    Добавить
  </button>
</div>
<div id="my-id">
</div>


<div class="general">
  <% @portfolio.awards.each do %>
    <%= render 'award_card', award: _1 %>
  <% end %>
</div>
