<div class="awards awards-new" style="display: flex; justify-content: end; align-items: center">
<!--  <div>-->
    <%#= vite_image_tag 'images/award.png', alt: "Аватарка", width: 70, height: 70 %>
<!--  </div>-->
  <div>
   
  </div>
</div>
