<div class="awards">
  <div>
    <%= vite_image_tag 'images/award.png', alt: "Аватарка", width: 70, height: 70 %>
  </div>
  <div>
    <span class="award-title">Devops курс от Хекслета</span>
    <p class="award-description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dumm
    </p>
    <a href="#" class="award-link">hexlet.pdf</a>
  </div>
</div>
