<div class="portfolio-title">
  <h4 class="left">Проекты</h4>
  <% if current_user == @portfolio.user %>
    <button type="button" class="btn btn-outline-secondary right" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Добавить
    </button>
  <% end %>
</div>
