<section>
  <div class="row">
    <div class="col-3">
      <%= render 'user' %>
    </div>
    <div class="col">
      <div class="row" style="min-height: 200px;">
        <%= render 'awards' %>
      </div>
      <div class="row" style="min-height: 500px; background-color: #6c757d">
        <h4>Проекты</h4>
      </div>
    </div>
  </div>
</section>
