<section>
  <div class="row">
    <div class="col-3">
      <%= render 'user' %>
    </div>
    <div class="col">
      <div class="row">
        <%= render 'awards' %>
      </div>
      <div class="row">
        <%= render 'projects' %>
      </div>
    </div>
  </div>
</section>
