<style>
  .card-empty-img {
    background-color: #4F4F4F;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #a5aec0;
  }
</style>

<div class="card" style="width: 18rem;">
  <div class="card-img-top card-empty-img">
    Image cap
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/projects/1" class="btn btn-secondary">Go somewhere</a>
  </div>
</div>