<footer class="text-center border-top">
  <div>
    <small>
      &copy <%= link_to "«DIGITAL PORTFOLIO»", root_path %>
      <span class="pl-2">Создаем лучший сервис для портфолио с 2024 года</span>
    </small>
  </div>
</footer>


